In [2]:
import pandas as pd

In [12]:
data = pd.read_csv('분석.csv')

In [21]:
data2 = pd.read_csv('격자데이터_2.csv')

In [22]:
data2.head()

          gid    val  역이름 존재여부     동    구
0  다바92ba27ba  206.0  신탄진   기존  신탄진동  대덕구
1  다바92ba27bb   45.0  신탄진   기존  신탄진동  대덕구
2  다바92ba28aa    NaN  신탄진   기존  신탄진동  대덕구
3  다바92ba28ab  932.0  신탄진   기존  신탄진동  대덕구
4  다바92ba28ba    NaN  신탄진   기존  신탄진동  대덕구

In [26]:
for i in range(0,len(list)):
    
    print(sum(data2[(data2['역이름']==list[i])]['val'].dropna()))

30087.0
8809.0
53617.0
67699.0
77958.0
29610.0
773.0

In [13]:
data.head()

          gid  val         layer adm_dr_nm  역이름 존재여부     동    구
0  다바93ab28ab  NaN  격자데이터_100세이상      신탄진동  신탄진   기존  신탄진동  대덕구
1  다바93ab28ba  NaN  격자데이터_100세이상      신탄진동  신탄진   기존  신탄진동  대덕구
2  다바93ab28bb  NaN  격자데이터_100세이상      신탄진동  신탄진   기존  신탄진동  대덕구
3  다바93ba27aa  NaN  격자데이터_100세이상      신탄진동  신탄진   기존  신탄진동  대덕구
4  다바93ba27ab  0.0  격자데이터_100세이상      신탄진동  신탄진   기존  신탄진동  대덕구

In [14]:
list = data['역이름'].unique()
list

array(['신탄진', '회덕', '중촌', '용두', '서대전', '가수원', '흑석리'], dtype=object)

In [15]:
buffer_age = pd.DataFrame(columns=['역이름', '20대', '30대', '40대', '50대', '60대', '70대', '80대', '90대','100대' ,'총인구수'])

In [16]:
buffer_age

Empty DataFrame
Columns: [역이름, 20대, 30대, 40대, 50대, 60대, 70대, 80대, 90대, 100대, 총인구수]
Index: []

In [17]:
age = 20
for i in range(0,len(list)):
    list2 = []
    list2.append(data[(data['역이름']==list[i])]['역이름'].unique())
    for j in range(1, 10):
        
        list2.append(sum(data[(data['역이름']==list[i]) & (data['layer']== '격자데이터_{}대'.format(age))]['val'].dropna()))
        age = age +10
    list2.append(sum(data[(data['역이름']==list[i])]['val'].dropna()))
    buffer_age.loc[i] = (list2[0],list2[1],list2[2],list2[3],list2[4],list2[5],list2[6],list2[7],list2[8],list2[9],list2[10])
    age = 20

In [18]:
buffer_age

,역이름,20대,30대,40대,50대,60대,70대,80대,90대,100대,총인구수
0,[신탄진],4932.0,5109.0,6033.0,6803.0,5432.0,2626.0,1387.0,108.0,0,32430.0
1,[회덕],1153.0,808.0,1298.0,1716.0,1411.0,530.0,341.0,36.0,0,7293.0
2,[중촌],14559.0,12333.0,15952.0,15212.0,12170.0,6770.0,3312.0,409.0,0,80717.0
3,[용두],18037.0,15792.0,19975.0,19267.0,15939.0,9336.0,4669.0,646.0,0,103661.0
4,[서대전],18714.0,16705.0,22211.0,22592.0,19198.0,12376.0,6385.0,981.0,0,119162.0
5,[가수원],4554.0,3878.0,4698.0,5647.0,4931.0,2271.0,1094.0,180.0,0,27253.0
6,[흑석리],28.0,8.0,56.0,63.0,112.0,98.0,70.0,9.0,0,444.0

In [19]:
buffer_age.to_excel('1km 버퍼 인구 비율3.xlsx')