In [1]:
seq(from=1, to=10, by=2)

[1] 1 3 5 7 9

In [2]:
rep(c(1:3), each=2)

[1] 1 1 2 2 3 3

In [3]:
rep(c(1:3))

[1] 1 2 3

In [4]:
x <- c(1,2,3,4)
z <-c(3,4)
x+z

[1] 4 6 6 8

In [5]:
x <- c(1,2,3)
y <- c(3,4,5)
z <- c(3,1,2)
union(x,y)
intersect(x, y)

[1] 1 2 3 4 5

[1] 3

In [6]:
setdiff(x, y)

[1] 1 2

In [7]:
setdiff(y,x)

[1] 4 5

In [10]:
x <- array(1:5, c(2,4))
x

     [,1] [,2] [,3] [,4]
[1,] 1    3    5    2
[2,] 2    4    1    3

In [13]:
dimnamex = list(c("1st", "2nd"), c("1st", "2nd", "3rd", "4th"))
x <- array(1:5, c(2,4), dimnames = dimnamex)
x

    1st 2nd 3rd 4th
1st 1   3   5   2
2nd 2   4   1   3

In [14]:
x['1st',]

1st 2nd 3rd 4th
  1   3   5   2

In [15]:
x[, "4th"]

1st 2nd
  2   3